{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["transform-runtime", "transform-react-remove-prop-types"]
    }
  }
}
