{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import", [
      "transform-react-loadable",
      {
        "server": false,
        "web": true
      }
    ],
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["transform-runtime", "transform-react-remove-prop-types"]
    }
  }
}
