$container-max-width: 530px;
$container-padding-horizontal: 20px;
// colors
$color-0-0: #04c2ff;
$color-0-1: #2d88b3;
$color-0-2: #2d5662;
$color-1-0: #721a87;
$color-1-1: #9c73c1;
$color-2-0: #c1ef99;
$color-3-0: #ffdf6f;
$color-3-1: #ffbf6f;
