.link {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  color: #0366d6;
  text-decoration: none;
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

.bold {
  font-weight: 700;
}
